.u-section-1 .u-sheet-1 {
  min-height: 493px;
}

.u-section-1 .u-group-1 {
  width: 624px;
  min-height: 425px;
  height: auto;
  margin: 34px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 285px;
  width: 564px;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  padding: 10px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: -137px 17px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}