<!DOCTYPE html>
<html>
    <head>
        <title>Quienes Somos</title>
    </head>
    <body>
        <h1>CINEMARK</h1>
        <br>
        <h2> Historia de la Empresa</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione exercitationem, quam cupiditate incidunt dolores fuga, earum pariatur aliquid nobis tempora tempore officiis? Harum voluptatem possimus blanditiis mollitia quos delectus adipisci!</p>
        <br>
        <h2>Misión</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate ipsam sequi magnam eaque facere at, ipsum, repudiandae, quibusdam atque iste debitis quam labore molestiae! Voluptatem hic tempora quisquam error voluptas.</p>
        <br>
        <h2>Visión</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate ipsam sequi magnam eaque facere at, ipsum, repudiandae, quibusdam atque iste debitis quam labore molestiae! Voluptatem hic tempora quisquam error voluptas.</p>
        
    </body>

</html>