<!DOCTYPE html>
<html>
    <head>
        <title>Pago Exitoso</title>
    </head>
    <body>
        <h1>PAGO EFECTUADO</h1>
        <br>
        <h2> ¡Enhorabuena!</h2>
        <p>La reserva se ha hecho con éxito. Detalles de su reserva:</p>
        {{reserva}}
        <br><br><br>
        <button><a href="/">Volver a inicio</a></button>
        <button><a href="/cartelera/">Ir a la Cartelera</a></button>
        <button><a href="/reservas/consulta/">Ir a mis reservas</a></button>
        {{userReservas}}
        
    </body>

</html>