<!DOCTYPE html>
<html>
    <head>
        <title>TEATROS</title>
    </head>
    <body>
        <h1>Nuestros Teatros:</h1> <br><br>
        <hr/><hr/><br>
        <h2>Teatros por ciudad:</h2>
        <button><a href="/teatros/ciudad/Barranquilla">Barranquilla</a></button>
        <button><a href="/teatros/ciudad/Cartagena">Cartagena</a></button>
        <button><a href="/teatros/ciudad/Bogota D.C">Bogota D.C</a></button>
        <button><a href="/teatros/ciudad/Cali">Cali</a></button>
        <button><a href="/teatros/ciudad/Bucaramanga">Bucaramanga</a></button><br><br><br>
        <hr/><hr/><br>
        <h2>Teatros por Formato:</h2>
        <button><a href="/teatros/formato/Imax-3D">Imax-3D</a></button>
        <button><a href="/teatros/formato/convencional">convencional</a></button><br><br><br>
        <hr/><hr/><br>
        
        
    </body>

</html>